@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

.font-sans {
	font-family: 'Source Sans 3', sans-serif;
}

.label {
	@apply font-sans font-semibold text-16;
}

.input {
	@apply w-full border border-gray-300 py-6 px-6 rounded outline-none focus:ring-indigo-600 font-sans font-medium;
}

.input-error {
	@apply !border-red-500 !border-2;
}
